- lux (for brightness)
- brave (browser)
- pcmanfm (filemanager)
- rofi (menu)
- kitty (terminal)
- wmname (for fixing java problem (e.g. Ghidra)
- picom (for fading)
- nitrogen (for wallpaper)
- xfce4-screenshooter (for screenshot)
